#allContent {
  /* height: calc(100vh - 56px); all side view without h: header */
  display: flex;

}

#nav-title {
  height: 100%;
  width: 280px;
  background-color: white;
  overflow-y: auto;
}

#title_side_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
  padding-right: 15px;
}

#title-name {
  display: flex;
  flex-direction: row;
  font-size: 500;
}

#active-span {
}

#title-side {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
#operations{
  display: flex;
}

#cell_content {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin: 10px 0px;
}
#bodyContent {
  display: flex;
  flex-direction: column;
}
/* 
.main_content{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}


/* .nav_content{
     height: calc(100vh - 56px);/*all side view without h: header*/
/* display: flex;
    background-color: #f9f9f9; */

/* 
aside{
    height: 100%;
    width: 280px;
    background-color: white;
    overflow-y: auto;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    padding-right: 15px;
}
.nav-link{
    display: flex;
    align-items: center;
    padding: 10px 16px;
    text-decoration: none;

color: black;
}
.nav-link:hover{
    background-color: rgba(0, 0, 0, .05);
}
.nav-link span{
    margin-left: 24px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight:400;
    color: #030303;
}

.active{
    background-color: #e5e5e5;
}
#active-span{
    font-size: 500;
}


.display_Content{
    width: 100%;
    height: 100%;
    padding: 35px 15px;
    border-top: 1px solid #ddd;
    overflow-y: auto;;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
