.navBar {

    .navs {
        width: 100%;
        background-color:#EEE;
        height: 50px;
        color: black;
        display: flex;
        ul {
            display: flex;
            align-items: center;
            justify-content:center;
            gap: 30px;
            list-style-type: none;
            li {
                text-decoration: none;
                .a {
                    text-decoration: none;
                    padding: 0.5em 1em;
                    color: black;
                    &:hover {
                        background-color: black;
                        color: white;
                        border: solid 2px black;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
