.list-side-bar{
    font-size: 25px;
    font-weight:30px;
    height:50px;
    width:100% ;
    position: relative;
    display: flex;
    align-items: center;
    &:hover{
        background-color:rgb(196, 192, 186);
    }
    h1{
        // position: absolute;
        // left: 80px;
        // height:100px;
        // width: 100%;
        margin-left: 3%;
    }
}