* {
  box-sizing: border-box;
  
  
  
}
#body{
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  
  
}   

div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
#image{
  filter: blur(6px);
  -webkit-filter: blur(4px);
  /* height: 100%;  */
  background-image: url("../../images/login_bg.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
#container {
  background-color: rgb(124, 124, 124); 
  background-color: rgba(51, 51, 51, 0.4); 
  color: #000000;
  /* font-weight: bold; */
  font-size: 20px;
  border: 3px solid #fafafa;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width:30%;
  padding: 20px;
  text-align: center;
  
}
label{
  color: #fafafa;
  margin-bottom: 20px;
}


input[type=email]:focus, input[type=password]:focus {
  background-color: rgb(179, 179, 179);
  opacity: .7;
  outline: none;
}

/* Set a style for the submit button */
#btn {
 
 border-radius: 10px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 1;
  height: 30%;
  margin-bottom: 10px;
  font-size: 25px;
}

#btn:hover {
   opacity: .7; 
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin: 5px 0 15px 0;
  // background: #525151;

}

.icon {
  padding: 5px;
  // background: #525151;
  color: white;
  min-width: 40px;
  text-align: center;
  margin: 10px 0 15px 0;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 3px solid rgb(151, 151, 151);
}