* {
  box-sizing: border-box;
  
  
  
}
.body1{
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: none; 
  background-color: #004d40;
  height: 100vh;
}   

div::-webkit-scrollbar {
  display: none; 
  
}


/* Add styles to the form container */
#container {
  background-color: #004d40(124, 124, 124); 
  background-color: #004d40(51, 51, 51, 0.4); 
  color: #000000;
  /* font-weight: bold; */
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width:30%;
  // padding: 20px;
  text-align: center;
  
}
label{
  color: #fafafa;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: auto;
}


input[type=email]:focus, input[type=password]:focus {
  background-color: #ebf3f2;
  opacity: .7;
  outline: none;
}


#btn {
 
 border-radius: 10px;
  color: #004d40;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 1;
  height: 30%;
  margin-bottom: 10px;
  font-size: 25px;
}

#btn:hover {
   opacity: .7; 
}

.input-container {
  display: -ms-flexbox; 
  display: flex;
  width: 100%;
  margin: 5px 0 15px 0;
  background: #004d40;

}

.icon {
  padding: 5px;
  // background: #525151;
  color: white;
  min-width: 40px;
  text-align: center;
  margin: 10px 0 15px 0;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  
}

.input-field:focus {
  border: 3px solid #004d40;
}