.admin-student {
    display: flex;
    flex-direction: column;

    .student-table {
        margin-left: 30px;
        margin-right: 88px;

        .headerTable {
            font-size: 25px;
            font-weight: 700;
        }

        .content-table {
            font-size: 23px;
            align-items: center;
            margin-top: 5px;
        }
    }
}