.teacherside {
    display: flex;
    flex-direction: column;

    .teacher-cards {
        display: flex;
        margin: 5% 0 0 0;
        gap: 10%;
        flex-wrap: wrap;
        // a{
        //     margin: 0;
        //     padding: 0;
        // }

        .teacherCard {
            width: 70%;
            height: 90%;
            // .linkTeacher{
            //     :hover{
            //     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            // }
            
        }


    }
}